BFS/** linguist-documentation=false
BFS/** linguist-vendored=false

DFS/** linguist-documentation=false
DFS/** linguist-vendored=false

UnionFind/** linguist-documentation=false
UnionFind/** linguist-vendored=false
